/* 
   =========================
   UTILITY CLASSES FOR FONTS
   =========================
   
   These styles define the primary bVVBNGButton appearance.

   Usage Example:
   <button class="display-font">Click Me</button>
*/

.display-font {
    font-family: var(--secondary---font--family);
}

.base-font {
    font-family: var(--primary---font--family);
}

/* Display */
.text-display-regular {
    font-size: var(--display---display--regular);
}

.text-display-medium {
    font-size: var(--display---display--medium);
}

.text-display-bold {
    font-size: var(--display---display--bold);
}

/* Heading 1 */
.text-heading-1-bold {
    font-size: var(--h1---heading-1--bold);
}

.text-heading-1-medium {
    font-size: var(--h1---heading-1--medium);
}

.text-heading-1-regular {
    font-size: var(--h1---heading-1--regular);
}

.text-heading-1-small-bold {
    font-size: var(--h1---heading-1--small--bold);
}

.text-heading-1-small-medium {
    font-size: var(--h1---heading-1--small--medium);
}

.text-heading-1-small-regular {
    font-size: var(--h1---heading-1--small--regular);
}

/* Heading 2 */
.text-heading-2-bold {
    font-size: var(--h2---heading-2--bold);
}

.text-heading-2-medium {
    font-size: var(--h2---heading-2--medium);
}

.text-heading-2-regular {
    font-size: var(--h2---heading-2--regular);
}

.text-heading-2-small-bold {
    font-size: var(--h2---heading-2--small--bold);
    line-height: calc(var(--h2---heading-2--small--bold) * var(--base-line---height));
    letter-spacing: var(--base-letter---spacing);
}

.text-heading-2-small-medium {
    font-size: var(--h2---heading-2--small--medium);
    line-height: calc(var(--h2---heading-2--small--bold) * var(--base-line---height));
}

.text-heading-2-small-regular {
    font-size: var(--h2---heading-2--small--regular);
    line-height: calc(var(--h2---heading-2--small--bold) * var(--base-line---height));
}

/* Heading 3 */
.text-heading-3-bold {
    font-size: var(--h3---heading-3--bold);
    line-height: calc(var(--h3---heading-3--bold) * var(--base-line---height));
}

.text-heading-3-medium {
    font-size: var(--h3---heading-3--medium);
    line-height: calc(var(--h3---heading-3--medium)*var(--base-line---height));
}

/* Heading 3 */
.text-heading-3-regular {
    font-size: var(--h3---heading-3--regular);
    line-height: calc(var(--h3---heading-3--regular) * var(--base-line---height));
}

.text-heading-3-small-bold {
    font-size: var(--h3---heading-3--small--bold);
    line-height: calc(var(--h3---heading-3--small--bold) * var(--base-line---height));
}

.text-heading-3-small-medium {
    font-size: var(--h3---heading-3--small--medium);
    line-height: calc(var(--h3---heading-3--small--medium) * var(--base-line---height));
}

.text-heading-3-small-regular {
    font-size: var(--h3---heading-3--small--regular);
    line-height: calc(var(--h3---heading-3--small--regular) * var(--base-line---height));
}

/* Heading 4 */
.text-heading-4-regular {
    font-size: var(--h4---heading-4--regular);
    line-height: calc(var(--h4---heading-4--regular) * var(--base-line---height));
}

.text-heading-4-small-bold {
    font-size: var(--h4---heading-4--small--bold);
    line-height: calc(var(--h4---heading-4--small--bold) * var(--base-line---height));
}

.text-heading-4-small-medium {
    font-size: var(--h4---heading-4--small--medium);
    line-height: calc(var(--h4---heading-4--small--medium) * var(--base-line---height));
}

.text-heading-4-small-regular {
    font-size: var(--h4---heading-4--small--regular);
    line-height: calc(var(--h4---heading-4--small--regular) * var(--base-line---height));
}

/* Heading 5 */
.text-heading-5-regular {
    font-size: var(--h5---heading-5--regular);
    line-height: calc(var(--h5---heading-5--regular) * var(--base-line---height));
}
.text-heading-5-medium {
    font-weight: 500;
    font-size: var(--h5---heading-5--medium);
    line-height: calc(var(--h5---heading-5--regular) * var(--base-line---height));
}

.text-heading-5-small-bold {
    font-size: var(--h5---heading-5--small--bold);
    line-height: calc(var(--h5---heading-5--small--bold) * var(--base-line---height));
}

.text-heading-5-small-medium {
    font-size: var(--h5---heading-5--small--medium);
    line-height: calc(var(--h5---heading-5--small--medium) * var(--base-line---height));
}

.text-heading-5-small-regular {
    font-size: var(--h5---heading-5--small--regular);
    line-height: calc(var(--h5---heading-5--small--regular) * var(--base-line---height));
}

/* Heading 6 */
.text-heading-6-regular {
    font-size: var(--h6---heading-6--regular);
    line-height: calc(var(--h6---heading-6--regular) * var(--base-line---height));
}

.text-heading-6-small-bold {
    font-size: var(--h6---heading-6--small--bold);
    line-height: calc(var(--h6---heading-6--small--bold) * var(--base-line---height));
}

.text-heading-6-small-medium {
    font-size: var(--h6---heading-6--small--medium);
    line-height: calc(var(--h6---heading-6--small--medium) * var(--base-line---height));
}

.text-heading-6-small-regular {
    font-size: var(--h6---heading-6--small--regular);
    line-height: calc(var(--h6---heading-6--small--regular) * var(--base-line---height));
}

/* Buttons */
.text-button-large {
    font-size: var(--buttons---button--large);
    line-height: var(--buttons---button--large);
}

.text-button-medium {
    font-size: var(--buttons---button--medium);
    line-height: var(--buttons---button--medium);
}

.text-button-small {
    font-size: var(--buttons---button--small);
    line-height: var(--buttons---button--small);
}

.text-button-micro {
    font-size: var(--buttons---button--micro);
    line-height: var(--buttons---button--micro);
}

/* Body Large */
.text-body-large-bold {
    font-size: var(--body--large---body--large--bold);
    line-height: calc(var(--body--large---body--large--bold) * var(--base-line---height));
}

.text-body-large-medium {
    font-size: var(--body--large---body--large--medium);
    line-height: calc(var(--body--large---body--large--medium) * var(--base-line---height));
}

.text-body-large-regular {
    font-size: var(--body--large---body--large--regular);
    line-height: calc(var(--body--large---body--large--regular) * var(--base-line---height));
}

.text-body-large-underline {
    font-size: var(--body--large---special---underline);
    line-height: calc(var(--body--large---special---underline) * var(--base-line---height));
}

.text-body-large-inline {
    font-size: var(--body--large---special---inline);
    line-height: calc(var(--body--large---special---inline) * var(--base-line---height));
}

/* Body Small */
.text-body-small-bold {
    font-size: var(--body--small---body--small--bold);
    line-height: calc(var(--body--small---body--small--bold) * var(--base-line---height));
}

.text-body-small-medium {
    font-size: var(--body--small---body--small--medium);
    line-height: calc(var(--body--small---body--small--medium) * var(--base-line---height));
}

.text-body-small-regular {
    font-size: var(--body--small---body--small--regular);
    line-height: calc(var(--body--small---body--small--regular) * var(--base-line---height));
}

.text-body-small-underline {
    font-size: var(--body--small---special---underline);
    line-height: calc(var(--body--small---special---underline) * var(--base-line---height));
}

.text-body-small-inline {
    font-size: var(--body--small---special---inline);
    line-height: calc(var(--body--small---special---inline) * var(--base-line---height));
}

/* Body Micro */
.text-body-micro-bold {
    font-size: var(--body--micro---body--micro--bold);
    line-height: calc(var(--body--micro---body--micro--bold) * var(--base-line---height));
}

.text-body-micro-medium {
    font-size: var(--body--micro---body--micro--medium);
    line-height: calc(var(--body--micro---body--micro--medium) * var(--base-line---height));
}

.text-body-micro-regular {
    font-size: var(--body--micro---body--micro--regular);
    line-height: calc(var(--body--micro---body--micro--regular) * var(--base-line---height));
}

.text-body-micro-underline {
    font-size: var(--body--micro---special---underline);
    line-height: calc(var(--body--micro---special---underline) * var(--base-line---height));
}

.text-body-micro-inline {
    font-size: var(--body--micro---special---inline);
    line-height: calc(var(--body--micro---special---inline) * var(--base-line---height));
}

/* Caption */
.text-caption-bold {
    font-size: var(--caption---caption--bold);
    line-height: calc(var(--caption---caption--bold) * var(--base-line---height));
}

.text-caption-medium {
    font-size: var(--caption---caption--medium);
    line-height: calc(var(--caption---caption--medium) * var(--base-line---height));
}

.text-caption-regular {
    font-size: var(--caption---caption--regular);
    line-height: calc(var(--caption---caption--regular) * var(--base-line---height));
}